<% @designations.each do |designation| %>
	<div class="col-xs-6 col-sm-4 placeholder">
	    <div class="card">
		    <div class="card-image image2">
		        <div class="banner"></div>
		        <h2><%= designation.localization.name %></h2>
		    </div>
	    	<p>No <%= designation.week_day %> as <%= designation.schedule.strftime("%H:%M") %> com <%= link_to "#{designation.users.first.name}, #{designation.users.second.name} e + #{designation.users.size}", "" %></p>
		</div>
	</div>
<% end %>